{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block script %}
<link rel='stylesheet' href="{% static 'account/css/bs_custom.css' %}">
<link rel='stylesheet' href="{% static 'css/btns.css' %}">
{% endblock script %}
{% block content %}

<div class="mst-div">
    <div>
        <h3>비밀번호 찾기</h3>
        <hr>
    </div>
    <form method="post" action="{% url 'password_reset' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
    <button type="submit" class="btn btn-neg">취소</button>
    <button type="submit" class="btn btn-pos">비밀번호 초기화</button>
</form>
</div>

{% endblock %}