# postgre => version 14
Django==3.0.11
django-admin==2.0.1
django-bootstrap4==3.0.1
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-extensions==3.0.9
django-six==1.0.4
Pillow==8.2.0
psycopg2==2.9.1
