{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="grading-beef-igs_500px_div">
    <div class="mb-4">
        <h4>회원가입</h4>
    </div>
    <form action="{% url 'accountapp:create' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" onclick="history.back()" method="post" class="'btn btn-gray rounded-pill col-3 mt-3">취소</button>
        <input type="submit" value="회원가입" class="btn btn-dark rounded-pill col-3 mt-3">
    </form>
</div>

{% endblock %}