.title {
    text-align: center;
    padding-top: 3vh;
    font-size: 24px;
    width: 90%;
    border-bottom: solid 2px black;
    margin: 0 auto;
    padding-bottom: 1vh;
}

.revision-content {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-box {
    height: 45%;
}

.predict-img{
    height: 100%;
    width: 85%;
    background-color: #ecbd8e1c;
    border: 2px dashed #555;
    padding: 20px;
    border-radius: 10px;
}

.revision-form {
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.table-content {
    width: 85%;
}

table {
    width: 100%;
    margin: 0;
    
}

.btn-box {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.btns {
    border-radius: 10px;
    border: none;
    width: 38%;
    height: 30px;
    color: white;
}