{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'upload/css/error_page.css' %}">
<link rel="stylesheet" href="{% static 'css/btns.css' %}">
{% endblock script %}

{% block content %}
<div class="error-content">
    <div class="title">
        <p class="oops">
            Oops!
        </p>
        사진의 화질이 좋지 않아 판별할 수 없습니다.<br>
        사진을 다시 선택해주세요.
    </div>

    <div class="btn-box">
        <button type='button' class='btns btn-neg' onclick=location.href="{%url 'home' %}">홈으로 가기</button>
        <button type='button' class='btns btn-pos' onclick=location.href="{%url 'upload:pick_photo' %}">사진 재선택</button>
    </div>
</div>

{% endblock content %}