{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'upload/css/asdf.css'%}">

{% endblock script %}


{% block content %}

<div class="igs_500px_div">
    <div class="mb-4">
        <h4>사진선택</h4>
    </div>
    <!-- <form action="{% url 'upload:pick_photo' %}" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        {{ form.media }}
        <input type="submit" value="판별하기" class="btn btn-dark rounded-pill col-6 mt-3">
    </form> -->
    <form method='post' action='{% url "upload:predict" %}' enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name='upimg'>
        <button type='submit'>판별하기</button>
    </form>
    </div> 
</div>

{% endblock content %}