{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'upload/css/img_preview.css'%}">
<link rel="stylesheet" href="{% static 'css/btns.css'%}">
<script src="{% static 'upload/js/img_preview.js' %}"></script>

{% endblock script %}


{% block content %}

<div class="title">
    등급 판정
</div>
<div class="center">
    <form method='post' action='{% url "upload:predict" %}' enctype="multipart/form-data" style="width: 80%;">
        <div class="form-input">
            {% csrf_token %}
            <label for="file-ip-1">upload image</label>
            <input type="file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" name='upimg'>
            <div class="preview">
                <img id="file-ip-1-preview">
            </div>
        </div>
        <div class="predict-box">
            <button type='submit' onClick="return member_submit();" class="predict-btn btn-neg">판별하기</button>
        </div>
        <div id="error-msg" style="visibility: hidden;">
            사진을 선택해주세요
        </div>
    </form>
</div>

<script>
    function member_submit() {
        if ($("#file-ip-1-preview").val() == "") {
            // alert('사진을 선택해주세요');
            document.getElementById('error-msg').className = "alert alert-warning";
            document.getElementById("error-msg").style.visibility = "visible";
            // document.getElementsById('error-msg') = 'hihi'; 
            // document.getElementsById('error-msg').style.visibility = 'visible';
            // document.getElementsByClassName('alert') = 'hihi'; 
            return false;
        }
    }
</script>

{% endblock content %}