.result-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-box {
    height: 35%;
}

.predict-img{
    height: 100%;
    width: 85%;
    background-color: #ecbd8e1c;
    border: 2px dashed #555;
    padding: 20px;
    border-radius: 10px;
}

.chart-box {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    font-size: larger;
    margin-bottom: 5%;
}

.btns {
    border-radius: 10px;
    border: none;
    width: 38%;
    height: 30px;
    color: white;
}