.revision-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-box {
    height: 35%;
}

.predict-img{
    height: 100%;
    width: 85%;
    background-color: #ecbd8e1c;
    border: 2px dashed #555;
    padding: 20px;
    border-radius: 10px;
}

.revision-form {
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table-content {
    width: 90%;
}

table {
    width: 100%;
    margin: 0;
    
}

.btn-box {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.btns {
    border-radius: 10px;
    border: none;
    width: 38%;
    height: 30px;
    color: white;
}