{% extends 'base.html' %}
{% load static %}
{% load pybo_filter %}

{% block script %}
<link rel="stylesheet" href="{% static 'grading/css/distinguish.css'%}">
<link rel="stylesheet" href="{% static 'css/btns.css'%}">
{% endblock script %}

{% block content %}

<div id="detail-box">
    <div class="title">
        <p class="font-weight-bold" style="display: inline-block; margin: 0;">{{user.username}}</p> 님의 이력 조회
    </div>
    <div class="buttons">
        <a href="{% url 'grading:total_distinguish'%}" type="button" class="btn btn-sm btn-neg">전체
            이력</a>

        <a href="{% url 'grading:detail_distinguish'%}" class="btn btn-sm btn-pos">나의 이력</a>
    </div>
</div>

<div id="table-box">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">날짜</th>
                <th scope="col">등급</th>
            </tr>
        </thead>
        <tbody>
            {% for b in object_list %}
            <tr onClick=location.href="{%url 'grading:show_detail' b.pk %}" style="cursor:pointer;">
                <td>{{page_obj.number|sub:1|multi:10|add:forloop.counter}}</td>
                <td>{{b.register_date}}</td>
                {% if b.modified_grade != None %}
                <td>{{b.modified_grade}}</td>
                {% else %}
                <td>{{b.first_grade}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <ul class='pagination justify-content-center'>
        <!-- 이전페이지그룹으로 이동하는 링크 -->
        {% if has_previous %}
        <li class='page-item'>
            <a href="{% url 'grading:total_distinguish' %}?page={{previous_page_no}}" class='page-link'>이전</a>
        </li>
        {% else %}
        <li class='page-item' style="color: #969696">
            <span class='page-link'>이전</span>
        </li>
        {% endif %}

        <!-- 페이지번호 링크.  page_obj.number:현재페이지의 번호-->
        {% for page in page_range %}
        {% if page == page_obj.number %}
        <li class='page-item active'>
            <span class='page-link' style="background-color: #969696; color: #FFFFFF; border: #969696;">{{page}}</span>
        </li>
        {% else %}
        <li class='page-item'>
            <a href="{% url 'grading:total_distinguish' %}?page={{page}}" class='page-link'>{{page}}</a>
        </li>
        {% endif %}
        {% endfor %}


        <!-- 다음페이지그룹으로 이동하는 링크 -->
        {% if has_next %}
        <li class='page-item'>
            <a href="{% url 'grading:total_distinguish' %}?page={{next_page_no}}" class='page-link'>다음</a>
        </li>
        {% else %}
        <li class='page-item'>
            <span class='page-link' style="color: #969696">다음</span>
        </li>
        {% endif %}
    </ul>

    {% endif %}
</div>

{% endblock content %}