{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'css/distinguish.css'%}">
{% endblock script %}

{% block content %}

<div class="container">
    <div class="mx-auto d-block img-wrapper">
        <img class="img-fluid" src="/static/images/testcow.png" alt="입력사진" width="100%">
    </div>

    <div class="chart">차트 자리</div>

    <div class="detail_buttons">
        <!-- <button type="button" class="btn btn-sm" onclick=location.href="">확인</button> -->
        <!-- {%url 'grade_table' %} -->

        <!-- <button type="button" class="btn btn-sm" style="background-color: #ffc282">리스트로 돌아가기</button> -->
        <a href="{% url 'total_distinguish' %}" type="button" class="btn btn-sm" style="background-color: #969696">홈으로
            가기</a>
    </div>
</div>
{% endblock content %}