{% extends 'base.html' %}
{% load static %}
{% load pybo_filter %}

{% block script %}
<link rel="stylesheet" href="{% static 'grading/css/distinguish.css'%}">
<link rel="stylesheet" href="{% static 'css/btns.css'%}">
{% endblock script %}

{% block content %}
<div id="detail-box">
  <div class="title">
    전체 이력 조회
  </div>

  <div class="buttons">
    <a href="{% url 'grading:total_distinguish' %}" type="button" class="btn btn-sm btn-pos">전체
      이력</a>
    {% if user.is_authenticated %}
    <a href="{% url 'grading:detail_distinguish' %}" type="button" class="btn btn-sm btn-neg">나의
      이력</a>
    {% endif %}
    {% if not user.is_authenticated %}
    <a href="#" onclick="notUser()" type="button" class="btn btn-sm btn-neg">나의 이력</a>
    {% endif %}
    <script>
      function notUser() {
        alert("로그인을 해주세요!")
      }
    </script>
  </div>
</div>

{{number}}
<div id="table-box">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">날짜</th>
        <th scope="col">등급</th>
      </tr>
    </thead>
    <tbody>
      {% for a in object_list %}
      <tr onClick=location.href="{%url 'grading:show_detail' a.pk %}" style="cursor:pointer;">
        <td>{{page_obj.number|sub:1|multi:7|add:forloop.counter}}</td>
        <td>{{a.register_date}}</td>
        <td>{{a.first_grade}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
  <ul class='pagination justify-content-center'>
    <!-- 이전페이지그룹으로 이동하는 링크 -->
    {% if has_previous %}
    <li class='page-item'>
      <a href="{% url 'grading:total_distinguish' %}?page={{previous_page_no}}" class='page-link'>이전</a>
    </li>
    {% else %}
    <li class='page-item'>
      <span class='page-link' style="color: #969696">이전</span>
    </li>
    {% endif %}

    <!-- 페이지번호 링크.  page_obj.number:현재페이지의 번호-->
    {% for page in page_range %}
    {% if page == page_obj.number %}
    <li class='page-item active'>
      <span class='page-link' style="background-color: #969696; color: #FFFFFF; border: #969696;">{{page}}</span>
    </li>
    {% else %}
    <li class='page-item'>
      <a href="{% url 'grading:total_distinguish' %}?page={{page}}" class='page-link' style="color: #969696">{{page}}</a>
    </li>
    {% endif %}
    {% endfor %}


    <!-- 다음페이지그룹으로 이동하는 링크 -->
    {% if has_next %}
    <li class='page-item'>
      <a href="{% url 'grading:total_distinguish' %}?page={{next_page_no}}" class='page-link'>다음</a>
    </li>
    {% else %}
    <li class='page-item'>
      <span class='page-link' style="color: #969696">다음</span>
    </li>
    {% endif %}
  </ul>
</div>

{% endif %}


{% endblock content %}