{% extends 'base.html' %}
{% load static %}

{% block script %}
<link rel="stylesheet" href="{% static 'grading/css/distinguish.css'%}">
<link rel="stylesheet" href="{% static 'css/btns.css'%}">
{% endblock script %}

{% block content %}
<div id="detail-box">
  <div class="title">
    전체 이력 조회
    <hr style="border: solid 1px; width: 90%;">
  </div>

  <div class="buttons">
    <a href="{% url 'grading:total_distinguish' %}" type="button" class="btn btn-sm btn-pos">전체
      이력</a>
    <a href="{% url 'grading:detail_distinguish' %}" type="button" class="btn btn-sm btn-neg">나의
      이력</a>
  </div>

</div>
<div id="table-box">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">날짜</th>
        <th scope="col">등급</th>
      </tr>
    </thead>
    <tbody>
      {% for a in object_list %}
      <tr>
        <td>{{a.result_id}}</td>
        <td>{{a.register_date}}</td>
        <td>{{a.first_grade}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
  <ul class='pagination justify-content-center'>
    <!-- 이전페이지그룹으로 이동하는 링크 -->
    {% if has_previous %}
    <li class='page-item'>
      <a href="{% url 'grading:total_distinguish' %}?page={{previous_page_no}}" class='page-link'>이전</a>
    </li>
    {% else %}
    <li class='page-item'>
      <span class='page-link'>이전</span>
    </li>
    {% endif %}

    <!-- 페이지번호 링크.  page_obj.number:현재페이지의 번호-->
    {% for page in page_range %}
    {% if page == page_obj.number %}
    <li class='page-item active'>
      <span class='page-link'>{{page}}</span>
    </li>
    {% else %}
    <li class='page-item'>
      <a href="{% url 'grading:total_distinguish' %}?page={{page}}" class='page-link'>{{page}}</a>
    </li>
    {% endif %}
    {% endfor %}


    <!-- 다음페이지그룹으로 이동하는 링크 -->
    {% if has_next %}
    <li class='page-item'>
      <a href="{% url 'grading:total_distinguish' %}?page={{next_page_no}}" class='page-link'>다음</a>
    </li>
    {% else %}
    <li class='page-item'>
      <span class='page-link'>다음</span>
    </li>
    {% endif %}
  </ul>
</div>

{% endif %}


{% endblock content %}