{% extends 'base.html' %}
{% load static %}
{% block script %}
<link rel='stylesheet' href="{% static 'account/css/bs_custom.css' %}">
<link rel='stylesheet' href="{% static 'css/btns.css' %}">
{% endblock script %}
{% block content %}

<div class="mst-div">
    <div class="title">
        회원탈퇴
    </div>
    <div>
        탈퇴 후에는 되돌릴 수 없습니다.
        <br>
        정말로 탈퇴하시겠습니까?
    </div>
    <form action="{% url 'account:delete' pk=user.pk %}" method="post">
        {% csrf_token %}
        <a href="{% url 'account:detail' pk=user.pk %}" class="btn btn-neg">취소</a>
        <input type="submit" value="탈퇴하기" class="btn btn-danger col-3">
    </form>
</div>

{% endblock %}