{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block script %}
<link rel='stylesheet' href="{% static 'account/css/bs_custom.css' %}">
<link rel='stylesheet' href="{% static 'css/btns.css' %}">
{% endblock script %}
{% block content %}

<div>
    <div class="mst-div">
        <div class="title">
            회원정보
        </div>
        <h3 style="font-family: 'NanumSquareB'">
            {{ target_user.username }} 님
        </h3>
        <br>
        <p style="font-family: 'NanumSquareB'">
            Email : {{ target_user.email }}
        </p>
        <p style="font-family: 'NanumSquareB'">
            가입일 : {{ target_user.date_joined|date:'Y년m월d일 h시i분' }}
        </p>
        {% if target_user == user %}
        <a href="{% url 'account:update' pk=user.pk %}" class="btn btn-pos">
            비밀번호 변경
        </a>
        <a href="{% url 'account:delete' pk=user.pk %}" class="btn btn-neg">
            회원탈퇴
        </a>
        {% endif %}
    </div>
</div>

{% endblock %}