{% extends 'base.html' %}

{% block content %}
<div>
    <a href="{% url 'upload:pick_photo' %}?next={{ request.path }}">
        <span>사진 촬영</span>
    </a>
    {% if not user.is_authenticated %}
    <a href="{% url 'account:login' %}?next={{ request.path }}">
        <span>Login</span>
    </a>
    <a href="{% url 'account:create' %}?next={{ request.path }}">
        <span>SignUp</span>
    </a>
    {% else %}
    <a href="{% url 'account:detail' pk=user.pk %}">
        <span>MyPage</span>
    </a>
    <a href="{% url 'account:logout' %}?next={{ request.path }}">
        <span>Logout</span>
    </a>
    {% endif %}
</div>

<div style="border-radius: 1rem; margin: 2rem; text-align: center">
    <h1 style="font-family: 'lobster', cursive;">
        Hello World LIST!
    </h1>

    <form action="/accounts/hello_world/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="hello_world_input">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="POST">
        </div>

    </form>
    {% if hello_world_list %}
    {% for hello_world in hello_world_list %}
    <h1>
        {{ hello_world.text }}
    </h1>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}