{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block script %}
<link rel='stylesheet' href="{% static 'account/css/bs_custom.css' %}">
<link rel='stylesheet' href="{% static 'css/btns.css' %}">
{% endblock script %}

{% block content %}

<div class="mst-div">
    <div class="title">
        로그인
    </div>
    <div class="content-box">
        <form action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div>
                <button type="submit" onclick="history.back()" method="post" class="btn btn-neg">취소</button>
                <input type="submit" value="로그인" class="btn btn-pos">
                <br><br>
                <a href="{% url 'account:create' %}">회원가입</a>  /  <a href="{% url 'password_reset' %}">비밀번호 찾기</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}