{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block script %}
<link rel='stylesheet' href="{% static 'account/css/bs_custom.css' %}">
<link rel='stylesheet' href="{% static 'css/btns.css' %}">
{% endblock script %}
{% block content %}

<div class="mst-div">
    <div class="title">
        회원정보 수정
    </div>
    <div>

        <form action="{% url 'account:update' pk=user.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div>
                <a href="{% url 'account:detail' pk=user.pk %}" class="btn btn-neg" style="margin-bottom: 0;">취소</a>
                <button method="post" type="submit" class="btn btn-pos" style="margin-bottom: 0;">저장</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}