{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block script %}
<link rel='stylesheet' href="{% static 'account/css/bs_custom.css' %}">
<link rel='stylesheet' href="{% static 'css/btns.css' %}">
{% endblock script %}
{% block content %}

<div class="mst-div">
    <div>
        <h3>회원정보 수정</h3>
        <hr>
    </div>
    <form action="{% url 'account:update' pk=user.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="cancel" onclick="history.back()" method="post" class="btn btn-neg">취소</button>
        <input method="post" type="submit" value="저장" class="btn btn-pos">
    </form>
</div>

{% endblock %}